<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <!-- header -->
  <%= render 'sizes/header' %>

  <main>

  </main>

    <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>