* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #272e34;
  width: 100%;
  height: 90px;
}

.header-logo {
  padding: 10px;
  float: left;
}

.nav-list {
  float: right;
  margin-bottom: 0px;
}

.nav-list-item {
  display: inline-block;
  padding: 0 20px;
  line-height: 90px;
  font-size: 15px;
}

main {
  background-color: #f0f8ff;
}

.main-visual {
  margin: 10px 0;
  width: 100%;
  height: 300px;
  margin: auto;
  background-color: #fff;
}
.shopping-table {
  text-align: center;
}
.shopoing-guide {
  font-size: 25px;
}
.shopping-title {
  text-align: center;
}
.shopping-menu {
  padding: 30px;
}
.shopping-icon {
  width: 180px;
  height: 180px;
}

footer {
  background-color: #272e34;
  width: 100%;
}
.footer-list {
  padding: 10px;

}
.footer-list-item {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #a9a9a9;
}

.copyright {
  font-size: 5px;
  color: #fff;
  text-align: center;
}
#date-form {
  position: relative;
}
.select {
  margin: 40px 0;
  width: 50%;
  height: 150px;
 }
.tire-btn {
  margin: 10px;
}
 .tire-maker {
  padding-bottom: 10px;
 }
.maker-logo {
  width: 200px;
  height: 45px;
}
.tire-bs {
  width: 500px;
  height: 100px;
}
.tire-dl {
  width: 500px;
  height: 300px;
}
.tire-yk {
  width: 500px;
  height: 300px;
}
.reserve_table {
  background-color: #fff;
  text-align: center;
}
.reserve_day {
  text-align: center;
}
@media screen and (max-width:768px) {
  .slide {
    margin-top: 136px;
  }
}


