* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #272e34;
  width: 100%;
  height: 90px;
}

.header-logo {
  padding: 10px;
  float: left;
}

.nav-list {
  float: right;
  margin-bottom: 0px;
}

.nav-list-item {
  display: inline-block;
  padding: 0 20px;
  line-height: 90px;
  font-size: 15px;
}

main {
  background-color: #f0f8ff;
}

.main-visual {
  margin: 10px 0;
  width: 100%;
  height: 300px;
  border: 1px solid black;
}
 .select {
  margin: 20px 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
 }

footer {
  background-color: #272e34;
  width: 100%;
}
.copyright {
  font-size: 5px;
  color: #fff;
  text-align: center;
}
