* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #272e34;
  width: 100%;
  height: 90px;
}

.header-logo {
  padding: 10px;
  float: left;
}

.nav-list {
  float: right;
}

.nav-list-item {
  display: inline-block;
  padding: 0 20px;
  line-height: 90px;
  font-size: 15px;
}
