<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- header -->
  <%= render 'sizes/header' %>

  <!-- メインコンテンツ-->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">

          <!-- 購入フロー -->
          <div class="main-visual">
          </div>

          <!-- 商品選択ページへのリンク -->
          <div class="main-content">
            <div class="" style="background-image: url(/assets/tire.jpg); background-size: cover; background-position: top center; height:400px; width: 100%;">
  	        <%= link_to '商品を選択する', sizes_select_path, :style => "color:white; font-size: 15px; position: absolute; bottom: 15px; right: 40px;" %>
            </div>
          </div>
        </div>

        <div class="col-xs-1"></div>
      </div>
    </div>
  </main>


  <!-- footer -->
  <%= render 'sizes/footer' %>

</body>
</html>


